.products__mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;

    &-title {
        padding: 20px 0;
        font-size: xx-large;
        color: #6E9FFF;
        font-weight: 600;
    }
}